:root {
  --main-bg-color: #059d2a;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

/* Header | Navbar Styling */
header {
  background-color: var(--main-bg-color);
}

.bar {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.5rem auto;
  background-color: white;
}

.navbar {
  position: fixed;
  background-color: var(--main-bg-color);
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-branding {
  text-align: center;
  flex: 1;
  color: white;
  font-size: 2rem;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 1rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: var(--main-bg-color);
}

.nav-link {
  display: inline-block;
  position: relative;
  color: white;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: yellow;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: yellow;
}

.current {
  border-radius: 5px;
  border: 2px solid white;
  padding: 0.25rem;
}

.nav-menu.active {
  left: 0;
}

/*** End of Header | Navbar Styling ***/

/* main Styling */

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

#contact-form {
  padding: 5rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#message-content {
  width: 100%;
  height: 100%;
  max-height: 20rem;
}

input {
  width: 20rem;
  padding: 0.5rem;
}

/*** End of main Styling ***/

/* Footer Styling */
footer {
  flex-shrink: 0;
  padding: 1rem 0;
  background-color: #191919;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.footer-heading {
  font-size: 1.5rem;
  color: var(--main-bg-color);
}

.footer-text {
  font-size: 1rem;
}

.footer-text {
  padding-left: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  padding: 1rem;
  max-width: 100%;
  max-height: 20rem;
  aspect-ratio: 2/1;
}
/*** End of Footer Styling ***/

@media (min-width: 600px) {
  .photo-container {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: auto;
  }

  input {
    width: 30rem;
  }
}

@media (min-width: 750px) {
  .hamburger {
    display: none;
  }

  .navbar {
    padding: 0 2rem;
  }
  .nav-branding {
    flex-grow: 0;
    flex-basis: auto;
  }

  .nav-menu {
    flex-basis: auto;
    position: relative;
    width: auto;
    flex-direction: row;
    top: 0;
    left: 0;
  }

  .list {
    display: flex;
    flex-direction: row;
  }

  .map {
    max-width: 30rem;
  }

  input {
    width: 40rem;
  }
}

@media (min-width: 1200px) {
  .photo-container {
    grid-template-columns: repeat(3, 25rem);
    align-items: center;
    justify-content: center;
  }
  .footer-hours-contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .list {
    gap: 4rem;
  }
}
