:root {
  --main-theme-color: #059d2a;
  --main-bg-color: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

header {
  background-color: var(--main-bg-color);
}

li {
  list-style: none;
}

.bar {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.5rem auto;
  background-color: black;
}

.navbar {
  position: fixed;
  background-color: var(--main-bg-color);
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-branding {
  text-align: center;
  flex: 1;
  /* color: white; */
  font-size: 2rem;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  gap: 1rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* color: white; */
  background-color: var(--main-bg-color);
}

.nav-link:hover {
  color: var(--main-theme-color);
}

.nav-menu.active {
  left: 0;
}

.landing-page-img {
  position: relative;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  top: 1rem;
  z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.section-img {
  object-fit: contain;
  max-height: 250px;
}
.alternate {
  background-color: #ddefdb;
  /* color: white; */
}

footer {
  padding: 1rem 0;
  background-color: #191919;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.footer-heading {
  font-size: 1.5rem;
  color: var(--main-theme-color);
}

.footer-text {
  font-size: 1rem;
}

.footer-text {
  padding-left: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  padding: 1rem;
  max-width: 100%;
  max-height: 16rem;
  aspect-ratio: 2/1;
}

@media (min-width: 600px) {
  body {
    line-height: 1.8;
  }

  .navbar {
    padding: 0 5rem;
  }

  section {
    padding: 1rem 2rem;
  }
}

@media (min-width: 750px) {
  * {
    line-height: 1.8;
  }

  .navbar {
    padding: 0 5rem;
  }
  .nav-branding {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    flex-basis: auto;
    position: relative;
    width: auto;
    left: 0;
    top: 0;
    flex-direction: row;
    -webkit-transition: none;
    transition: none;
  }

  section {
    padding: 1rem;
    gap: 1rem;
  }

  .text-wrapper {
    width: clamp(20rem, 60%, 50rem);
  }

  .section-img {
    max-height: 300px;
  }

  .alternate {
    /* flex-direction: row-reverse; */
  }

  .list {
    display: flex;
    flex-direction: row;
  }

  .map {
    max-width: 30rem;
  }

  .bar {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    line-height: 2.2;
  }
  section {
    padding: 8rem 4rem;
    flex-direction: row;
    gap: 4rem;
  }
  .alternate {
    flex-direction: row-reverse;
  }

  .section-img {
    max-height: 25rem;
  }
  .section-title {
    font-size: 3rem;
  }

  .text-wrapper {
    font-size: 1.5rem;
    line-height: 2;
    width: clamp(40rem, 60%, 50rem);
  }

  .footer-hours-contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .list {
    display: flex;
    gap: 3rem;
  }
  footer {
    padding: 4rem 0 1rem 0;
  }
}
